![Tests failed](https://img.shields.io/badge/tests-268%20passed%2C%201%20failed-critical)
## ❌ <a id="user-content-r0" href="#r0">fixtures/external/flutter/provider-test-results.json</a>
**269** tests were completed in **0ms** with **268** passed, **1** failed and **0** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|[test/builder_test.dart](#r0s0)|24✔️|||402ms|
|[test/change_notifier_provider_test.dart](#r0s1)|10✔️|||306ms|
|[test/consumer_test.dart](#r0s2)|18✔️|||340ms|
|[test/context_test.dart](#r0s3)|31✔️|||698ms|
|[test/future_provider_test.dart](#r0s4)|10✔️|||305ms|
|[test/inherited_provider_test.dart](#r0s5)|81✔️|||1s|
|[test/listenable_provider_test.dart](#r0s6)|16✔️|||353ms|
|[test/listenable_proxy_provider_test.dart](#r0s7)|12✔️|||373ms|
|[test/multi_provider_test.dart](#r0s8)|3✔️|||198ms|
|[test/provider_test.dart](#r0s9)|11✔️|||306ms|
|[test/proxy_provider_test.dart](#r0s10)|16✔️|||438ms|
|[test/reassemble_test.dart](#r0s11)|3✔️|||221ms|
|[test/selector_test.dart](#r0s12)|17✔️|||364ms|
|[test/stateful_provider_test.dart](#r0s13)|4✔️|||254ms|
|[test/stream_provider_test.dart](#r0s14)|8✔️|||282ms|
|[test/value_listenable_provider_test.dart](#r0s15)|4✔️|1❌||327ms|
### ✔️ <a id="user-content-r0s0" href="#r0s0">test/builder_test.dart</a>
ChangeNotifierProvider
<details><summary>  ✔️ default</summary>
</details>
<details><summary>  ✔️ .value</summary>
</details>
ListenableProvider
<details><summary>  ✔️ default</summary>
</details>
<details><summary>  ✔️ .value</summary>
</details>
Provider
<details><summary>  ✔️ default</summary>
</details>
<details><summary>  ✔️ .value</summary>
</details>
ProxyProvider
<details><summary>  ✔️ 0</summary>
</details>
<details><summary>  ✔️ 1</summary>
</details>
<details><summary>  ✔️ 2</summary>
</details>
<details><summary>  ✔️ 3</summary>
</details>
<details><summary>  ✔️ 4</summary>
</details>
<details><summary>  ✔️ 5</summary>
</details>
<details><summary>  ✔️ 6</summary>
</details>
MultiProvider
<details><summary>  ✔️ with 1 ChangeNotifierProvider default</summary>
</details>
<details><summary>  ✔️ with 2 ChangeNotifierProvider default</summary>
</details>
<details><summary>  ✔️ with ListenableProvider default</summary>
</details>
<details><summary>  ✔️ with Provider default</summary>
</details>
<details><summary>  ✔️ with ProxyProvider0</summary>
</details>
<details><summary>  ✔️ with ProxyProvider1</summary>
</details>
<details><summary>  ✔️ with ProxyProvider2</summary>
</details>
<details><summary>  ✔️ with ProxyProvider3</summary>
</details>
<details><summary>  ✔️ with ProxyProvider4</summary>
</details>
<details><summary>  ✔️ with ProxyProvider5</summary>
</details>
<details><summary>  ✔️ with ProxyProvider6</summary>
</details>
### ✔️ <a id="user-content-r0s1" href="#r0s1">test/change_notifier_provider_test.dart</a>
<details><summary>✔️ Use builder property, not child</summary>
</details>
ChangeNotifierProvider
<details><summary>  ✔️ value</summary>
</details>
<details><summary>  ✔️ builder</summary>
</details>
<details><summary>  ✔️ builder1</summary>
</details>
<details><summary>  ✔️ builder2</summary>
</details>
<details><summary>  ✔️ builder3</summary>
</details>
<details><summary>  ✔️ builder4</summary>
</details>
<details><summary>  ✔️ builder5</summary>
</details>
<details><summary>  ✔️ builder6</summary>
</details>
<details><summary>  ✔️ builder0</summary>
</details>
### ✔️ <a id="user-content-r0s2" href="#r0s2">test/consumer_test.dart</a>
consumer
<details><summary>  ✔️ obtains value from Provider<T></summary>
</details>
<details><summary>  ✔️ crashed with no builder</summary>
</details>
<details><summary>  ✔️ can be used inside MultiProvider</summary>
</details>
consumer2
<details><summary>  ✔️ obtains value from Provider<T></summary>
</details>
<details><summary>  ✔️ crashed with no builder</summary>
</details>
<details><summary>  ✔️ can be used inside MultiProvider</summary>
</details>
consumer3
<details><summary>  ✔️ obtains value from Provider<T></summary>
</details>
<details><summary>  ✔️ crashed with no builder</summary>
</details>
<details><summary>  ✔️ can be used inside MultiProvider</summary>
</details>
consumer4
<details><summary>  ✔️ obtains value from Provider<T></summary>
</details>
<details><summary>  ✔️ crashed with no builder</summary>
</details>
<details><summary>  ✔️ can be used inside MultiProvider</summary>
</details>
consumer5
<details><summary>  ✔️ obtains value from Provider<T></summary>
</details>
<details><summary>  ✔️ crashed with no builder</summary>
</details>
<details><summary>  ✔️ can be used inside MultiProvider</summary>
</details>
consumer6
<details><summary>  ✔️ obtains value from Provider<T></summary>
</details>
<details><summary>  ✔️ crashed with no builder</summary>
</details>
<details><summary>  ✔️ can be used inside MultiProvider</summary>
</details>
### ✔️ <a id="user-content-r0s3" href="#r0s3">test/context_test.dart</a>
<details><summary>✔️ watch in layoutbuilder</summary>
</details>
<details><summary>✔️ select in layoutbuilder</summary>
</details>
<details><summary>✔️ cannot select in listView</summary>
</details>
<details><summary>✔️ watch in listView</summary>
</details>
<details><summary>✔️ watch in gridView</summary>
</details>
<details><summary>✔️ clears select dependencies for all dependents</summary>
</details>
BuildContext
<details><summary>  ✔️ internal selected value is updated</summary>
</details>
<details><summary>  ✔️ create can use read without being lazy</summary>
</details>
<details><summary>  ✔️ watch can be used inside InheritedProvider.update</summary>
</details>
<details><summary>  ✔️ select doesn't fail if it loads a provider that depends on other providers</summary>
</details>
<details><summary>  ✔️ don't call old selectors if the child rebuilds individually</summary>
</details>
<details><summary>  ✔️ selects throws inside click handlers</summary>
</details>
<details><summary>  ✔️ select throws if try to read dynamic</summary>
</details>
<details><summary>  ✔️ select throws ProviderNotFoundException</summary>
</details>
<details><summary>  ✔️ select throws if watch called inside the callback from build</summary>
</details>
<details><summary>  ✔️ select throws if read called inside the callback from build</summary>
</details>
<details><summary>  ✔️ select throws if select called inside the callback from build</summary>
</details>
<details><summary>  ✔️ select throws if read called inside the callback on dependency change</summary>
</details>
<details><summary>  ✔️ select throws if watch called inside the callback on dependency change</summary>
</details>
<details><summary>  ✔️ select throws if select called inside the callback on dependency change</summary>
</details>
<details><summary>  ✔️ can call read inside didChangeDependencies</summary>
</details>
<details><summary>  ✔️ select cannot be called inside didChangeDependencies</summary>
</details>
<details><summary>  ✔️ select in initState throws</summary>
</details>
<details><summary>  ✔️ watch in initState throws</summary>
</details>
<details><summary>  ✔️ read in initState works</summary>
</details>
<details><summary>  ✔️ consumer can be removed and selector stops to be called</summary>
</details>
<details><summary>  ✔️ context.select deeply compares maps</summary>
</details>
<details><summary>  ✔️ context.select deeply compares lists</summary>
</details>
<details><summary>  ✔️ context.select deeply compares iterables</summary>
</details>
<details><summary>  ✔️ context.select deeply compares sets</summary>
</details>
<details><summary>  ✔️ context.watch listens to value changes</summary>
</details>
### ✔️ <a id="user-content-r0s4" href="#r0s4">test/future_provider_test.dart</a>
<details><summary>✔️ works with MultiProvider</summary>
</details>
<details><summary>✔️ (catchError) previous future completes after transition is no-op</summary>
</details>
<details><summary>✔️ previous future completes after transition is no-op</summary>
</details>
<details><summary>✔️ transition from future to future preserve state</summary>
</details>
<details><summary>✔️ throws if future has error and catchError is missing</summary>
</details>
<details><summary>✔️ calls catchError if present and future has error</summary>
</details>
<details><summary>✔️ works with null</summary>
</details>
<details><summary>✔️ create and dispose future with builder</summary>
</details>
<details><summary>✔️ FutureProvider() crashes if builder is null</summary>
</details>
FutureProvider()
<details><summary>  ✔️ crashes if builder is null</summary>
</details>
### ✔️ <a id="user-content-r0s5" href="#r0s5">test/inherited_provider_test.dart</a>
<details><summary>✔️ regression test #377</summary>
</details>
<details><summary>✔️ rebuild on dependency flags update</summary>
</details>
<details><summary>✔️ properly update debug flags if a create triggers another deferred create</summary>
</details>
<details><summary>✔️ properly update debug flags if a create triggers another deferred create</summary>
</details>
<details><summary>✔️ properly update debug flags if an update triggers another create/update</summary>
</details>
<details><summary>✔️ properly update debug flags if a create triggers another create/update</summary>
</details>
<details><summary>✔️ Provider.of(listen: false) outside of build works when it loads a provider</summary>
</details>
<details><summary>✔️ new value is available in didChangeDependencies</summary>
</details>
<details><summary>✔️ builder receives the current value and updates independently from `update`</summary>
</details>
<details><summary>✔️ builder can _not_ rebuild when provider updates</summary>
</details>
<details><summary>✔️ builder rebuilds if provider is recreated</summary>
</details>
<details><summary>✔️ provider.of throws if listen:true outside of the widget tree</summary>
</details>
<details><summary>✔️ InheritedProvider throws if no child is provided with default constructor</summary>
</details>
<details><summary>✔️ InheritedProvider throws if no child is provided with value constructor</summary>
</details>
<details><summary>✔️ DeferredInheritedProvider throws if no child is provided with default constructor</summary>
</details>
<details><summary>✔️ DeferredInheritedProvider throws if no child is provided with value constructor</summary>
</details>
<details><summary>✔️ startListening markNeedsNotifyDependents</summary>
</details>
<details><summary>✔️ InheritedProvider can be subclassed</summary>
</details>
<details><summary>✔️ DeferredInheritedProvider can be subclassed</summary>
</details>
<details><summary>✔️ can be used with MultiProvider</summary>
</details>
<details><summary>✔️ throw if the widget ctor changes</summary>
</details>
<details><summary>✔️ InheritedProvider lazy loading can be disabled</summary>
</details>
<details><summary>✔️ InheritedProvider.value lazy loading can be disabled</summary>
</details>
<details><summary>✔️ InheritedProvider subclass don't have to specify default lazy value</summary>
</details>
<details><summary>✔️ DeferredInheritedProvider lazy loading can be disabled</summary>
</details>
<details><summary>✔️ DeferredInheritedProvider.value lazy loading can be disabled</summary>
</details>
<details><summary>✔️ selector</summary>
</details>
<details><summary>✔️ can select multiple types from same provider</summary>
</details>
<details><summary>✔️ can select same type on two different providers</summary>
</details>
<details><summary>✔️ can select same type twice on same provider</summary>
</details>
<details><summary>✔️ Provider.of has a proper error message if context is null</summary>
</details>
diagnostics
<details><summary>  ✔️ InheritedProvider.value</summary>
</details>
<details><summary>  ✔️ InheritedProvider doesn't break lazy loading</summary>
</details>
<details><summary>  ✔️ InheritedProvider show if listening</summary>
</details>
<details><summary>  ✔️ DeferredInheritedProvider.value</summary>
</details>
<details><summary>  ✔️ DeferredInheritedProvider</summary>
</details>
InheritedProvider.value()
<details><summary>  ✔️ markNeedsNotifyDependents during startListening is noop</summary>
</details>
<details><summary>  ✔️ startListening called again when create returns new value</summary>
</details>
<details><summary>  ✔️ startListening</summary>
</details>
<details><summary>  ✔️ stopListening not called twice if rebuild doesn't have listeners</summary>
</details>
<details><summary>  ✔️ removeListener cannot be null</summary>
</details>
<details><summary>  ✔️ pass down current value</summary>
</details>
<details><summary>  ✔️ default updateShouldNotify</summary>
</details>
<details><summary>  ✔️ custom updateShouldNotify</summary>
</details>
InheritedProvider()
<details><summary>  ✔️ hasValue</summary>
</details>
<details><summary>  ✔️ provider calls update if rebuilding only due to didChangeDependencies</summary>
</details>
<details><summary>  ✔️ provider notifying dependents doesn't call update</summary>
</details>
<details><summary>  ✔️ update can call Provider.of with listen:true</summary>
</details>
<details><summary>  ✔️ update lazy loaded can call Provider.of with listen:true</summary>
</details>
<details><summary>  ✔️ markNeedsNotifyDependents during startListening is noop</summary>
</details>
<details><summary>  ✔️ update can obtain parent of the same type than self</summary>
</details>
<details><summary>  ✔️ _debugCheckInvalidValueType</summary>
</details>
<details><summary>  ✔️ startListening</summary>
</details>
<details><summary>  ✔️ startListening called again when create returns new value</summary>
</details>
<details><summary>  ✔️ stopListening not called twice if rebuild doesn't have listeners</summary>
</details>
<details><summary>  ✔️ removeListener cannot be null</summary>
</details>
<details><summary>  ✔️ fails if initialValueBuilder calls inheritFromElement/inheritFromWiggetOfExactType</summary>
</details>
<details><summary>  ✔️ builder is called on every rebuild and after a dependency change</summary>
</details>
<details><summary>  ✔️ builder with no updateShouldNotify use ==</summary>
</details>
<details><summary>  ✔️ builder calls updateShouldNotify callback</summary>
</details>
<details><summary>  ✔️ initialValue is transmitted to valueBuilder</summary>
</details>
<details><summary>  ✔️ calls builder again if dependencies change</summary>
</details>
<details><summary>  ✔️ exposes initialValue if valueBuilder is null</summary>
</details>
<details><summary>  ✔️ call dispose on unmount</summary>
</details>
<details><summary>  ✔️ builder unmount, dispose not called if value never read</summary>
</details>
<details><summary>  ✔️ call dispose after new value</summary>
</details>
<details><summary>  ✔️ valueBuilder works without initialBuilder</summary>
</details>
<details><summary>  ✔️ calls initialValueBuilder lazily once</summary>
</details>
<details><summary>  ✔️ throws if both builder and initialBuilder are missing</summary>
</details>
DeferredInheritedProvider.value()
<details><summary>  ✔️ hasValue</summary>
</details>
<details><summary>  ✔️ startListening</summary>
</details>
<details><summary>  ✔️ stopListening cannot be null</summary>
</details>
<details><summary>  ✔️ startListening doesn't need setState if already initialized</summary>
</details>
<details><summary>  ✔️ setState without updateShouldNotify</summary>
</details>
<details><summary>  ✔️ setState with updateShouldNotify</summary>
</details>
<details><summary>  ✔️ startListening never leave the widget uninitialized</summary>
</details>
<details><summary>  ✔️ startListening called again on controller change</summary>
</details>
DeferredInheritedProvider()
<details><summary>  ✔️ create can't call inherited widgets</summary>
</details>
<details><summary>  ✔️ creates the value lazily</summary>
</details>
<details><summary>  ✔️ dispose</summary>
</details>
<details><summary>  ✔️ dispose no-op if never built</summary>
</details>
### ✔️ <a id="user-content-r0s6" href="#r0s6">test/listenable_provider_test.dart</a>
ListenableProvider
<details><summary>  ✔️ works with MultiProvider</summary>
</details>
<details><summary>  ✔️ asserts that the created notifier can have listeners</summary>
</details>
<details><summary>  ✔️ don't listen again if listenable instance doesn't change</summary>
</details>
<details><summary>  ✔️ works with null (default)</summary>
</details>
<details><summary>  ✔️ works with null (create)</summary>
</details>
<details><summary>  ✔️ stateful create called once</summary>
</details>
<details><summary>  ✔️ dispose called on unmount</summary>
</details>
<details><summary>  ✔️ dispose can be null</summary>
</details>
<details><summary>  ✔️ changing listenable rebuilds descendants</summary>
</details>
<details><summary>  ✔️ rebuilding with the same provider don't rebuilds descendants</summary>
</details>
<details><summary>  ✔️ notifylistener rebuilds descendants</summary>
</details>
ListenableProvider value constructor
<details><summary>  ✔️ pass down key</summary>
</details>
<details><summary>  ✔️ changing the Listenable instance rebuilds dependents</summary>
</details>
ListenableProvider stateful constructor
<details><summary>  ✔️ called with context</summary>
</details>
<details><summary>  ✔️ pass down key</summary>
</details>
<details><summary>  ✔️ throws if create is null</summary>
</details>
### ✔️ <a id="user-content-r0s7" href="#r0s7">test/listenable_proxy_provider_test.dart</a>
ListenableProxyProvider
<details><summary>  ✔️ throws if update is missing</summary>
</details>
<details><summary>  ✔️ asserts that the created notifier has no listener</summary>
</details>
<details><summary>  ✔️ asserts that the created notifier has no listener after rebuild</summary>
</details>
<details><summary>  ✔️ rebuilds dependendents when listeners are called</summary>
</details>
<details><summary>  ✔️ update returning a new Listenable disposes the previously created value and update dependents</summary>
</details>
<details><summary>  ✔️ disposes of created value</summary>
</details>
ListenableProxyProvider variants
<details><summary>  ✔️ ListenableProxyProvider</summary>
</details>
<details><summary>  ✔️ ListenableProxyProvider2</summary>
</details>
<details><summary>  ✔️ ListenableProxyProvider3</summary>
</details>
<details><summary>  ✔️ ListenableProxyProvider4</summary>
</details>
<details><summary>  ✔️ ListenableProxyProvider5</summary>
</details>
<details><summary>  ✔️ ListenableProxyProvider6</summary>
</details>
### ✔️ <a id="user-content-r0s8" href="#r0s8">test/multi_provider_test.dart</a>
MultiProvider
<details><summary>  ✔️ throw if providers is null</summary>
</details>
<details><summary>  ✔️ MultiProvider children can only access parent providers</summary>
</details>
<details><summary>  ✔️ MultiProvider.providers with ignored child</summary>
</details>
### ✔️ <a id="user-content-r0s9" href="#r0s9">test/provider_test.dart</a>
<details><summary>✔️ works with MultiProvider</summary>
</details>
Provider.of
<details><summary>  ✔️ throws if T is dynamic</summary>
</details>
<details><summary>  ✔️ listen defaults to true when building widgets</summary>
</details>
<details><summary>  ✔️ listen defaults to false outside of the widget tree</summary>
</details>
<details><summary>  ✔️ listen:false doesn't trigger rebuild</summary>
</details>
<details><summary>  ✔️ listen:true outside of the widget tree throws</summary>
</details>
Provider
<details><summary>  ✔️ throws if the provided value is a Listenable/Stream</summary>
</details>
<details><summary>  ✔️ debugCheckInvalidValueType can be disabled</summary>
</details>
<details><summary>  ✔️ simple usage</summary>
</details>
<details><summary>  ✔️ throws an error if no provider found</summary>
</details>
<details><summary>  ✔️ update should notify</summary>
</details>
### ✔️ <a id="user-content-r0s10" href="#r0s10">test/proxy_provider_test.dart</a>
ProxyProvider
<details><summary>  ✔️ throws if the provided value is a Listenable/Stream</summary>
</details>
<details><summary>  ✔️ debugCheckInvalidValueType can be disabled</summary>
</details>
<details><summary>  ✔️ create creates initial value</summary>
</details>
<details><summary>  ✔️ consume another providers</summary>
</details>
<details><summary>  ✔️ rebuild descendants if value change</summary>
</details>
<details><summary>  ✔️ call dispose when unmounted with the latest result</summary>
</details>
<details><summary>  ✔️ don't rebuild descendants if value doesn't change</summary>
</details>
<details><summary>  ✔️ pass down updateShouldNotify</summary>
</details>
<details><summary>  ✔️ works with MultiProvider</summary>
</details>
<details><summary>  ✔️ update callback can trigger descendants setState synchronously</summary>
</details>
<details><summary>  ✔️ throws if update is null</summary>
</details>
ProxyProvider variants
<details><summary>  ✔️ ProxyProvider2</summary>
</details>
<details><summary>  ✔️ ProxyProvider3</summary>
</details>
<details><summary>  ✔️ ProxyProvider4</summary>
</details>
<details><summary>  ✔️ ProxyProvider5</summary>
</details>
<details><summary>  ✔️ ProxyProvider6</summary>
</details>
### ✔️ <a id="user-content-r0s11" href="#r0s11">test/reassemble_test.dart</a>
<details><summary>✔️ ReassembleHandler</summary>
</details>
<details><summary>✔️ unevaluated create</summary>
</details>
<details><summary>✔️ unevaluated create</summary>
</details>
### ✔️ <a id="user-content-r0s12" href="#r0s12">test/selector_test.dart</a>
<details><summary>✔️ asserts that builder/selector are not null</summary>
</details>
<details><summary>✔️ Deep compare maps by default</summary>
</details>
<details><summary>✔️ Deep compare iterables by default</summary>
</details>
<details><summary>✔️ Deep compare sets by default</summary>
</details>
<details><summary>✔️ Deep compare lists by default</summary>
</details>
<details><summary>✔️ custom shouldRebuid</summary>
</details>
<details><summary>✔️ passes `child` and `key`</summary>
</details>
<details><summary>✔️ calls builder if the callback changes</summary>
</details>
<details><summary>✔️ works with MultiProvider</summary>
</details>
<details><summary>✔️ don't call builder again if it rebuilds but selector returns the same thing</summary>
</details>
<details><summary>✔️ call builder again if it rebuilds abd selector returns the a different variable</summary>
</details>
<details><summary>✔️ Selector</summary>
</details>
<details><summary>✔️ Selector2</summary>
</details>
<details><summary>✔️ Selector3</summary>
</details>
<details><summary>✔️ Selector4</summary>
</details>
<details><summary>✔️ Selector5</summary>
</details>
<details><summary>✔️ Selector6</summary>
</details>
### ✔️ <a id="user-content-r0s13" href="#r0s13">test/stateful_provider_test.dart</a>
<details><summary>✔️ asserts</summary>
</details>
<details><summary>✔️ works with MultiProvider</summary>
</details>
<details><summary>✔️ calls create only once</summary>
</details>
<details><summary>✔️ dispose</summary>
</details>
### ✔️ <a id="user-content-r0s14" href="#r0s14">test/stream_provider_test.dart</a>
<details><summary>✔️ works with MultiProvider</summary>
</details>
<details><summary>✔️ transition from stream to stream preserve state</summary>
</details>
<details><summary>✔️ throws if stream has error and catchError is missing</summary>
</details>
<details><summary>✔️ calls catchError if present and stream has error</summary>
</details>
<details><summary>✔️ works with null</summary>
</details>
<details><summary>✔️ StreamProvider() crashes if builder is null</summary>
</details>
StreamProvider()
<details><summary>  ✔️ create and dispose stream with builder</summary>
</details>
<details><summary>  ✔️ crashes if builder is null</summary>
</details>
### ❌ <a id="user-content-r0s15" href="#r0s15">test/value_listenable_provider_test.dart</a>
valueListenableProvider
<details><summary>  ✔️ rebuilds when value change</summary>
</details>
<details><summary>  ✔️ don't rebuild dependents by default</summary>
</details>
<details><summary>  ✔️ pass keys</summary>
</details>
<details><summary>  ✔️ don't listen again if stream instance doesn't change</summary>
</details>
<details><summary>  ❌ pass updateShouldNotify</summary>
error:

```
	The following TestFailure object was thrown running a test:
	  Expected: <2>
	  Actual: <1>
	Unexpected number of calls
	
```

</details>